@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: 222 234 247;
    --secondary: 173 202 235;
    --negro: 45 48 71;
    --gris2: 231 231 239;
    --gris-l: 243 243 247;
    --gris: 72 76 112;
    --morado-l: 166 125 184;
    --morado-h: 126 85 217;
    --verde: 96 217 182;
    --blanco: 235 242 250;
    --blancoSecundario: 245 245 245;
    --blancoBlanco: 255 255 255;
    --blancoFijo: 245 245 245;

    background: rgb(var(--blancoBlanco));
  }

[data-theme="dark"] {
    --primary: 222 234 247;
    --secondary: 173 202 235;
    --negro: 230 225 227;
    --gris2: 231 231 239;
    --gris-l: 69 69 90;
    --gris: 203 196 204;
    --morado-l: 166 125 184;
    --morado-h: 126 85 217;
    --verde: 96 217 182;
    --blanco: 20 19 20;
    --blancoSecundario: 28 27 29;
    --blancoBlanco: 28 27 29;
    --blancoFijo: 245 245 245;

    background: rgb(var(--blancoBlanco));
  }





/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
  
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}